.accordion-button {
  cursor: pointer;
  margin-top: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordian-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.acc-tog {
  transition: transform 0.4s ease;
}

.acc-tog.tog-rotate {
  transform: rotate(-45deg);
}