/* ---------- Game ---------- */
.game {
	width: 100%;
}
.game-container {
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
}

.game-right {
	width: 70%; 
	float: right;
}

.game-left img {
	min-height: 15em;
  	image-rendering: pixelated;
	display: block;
	margin: auto;
}

.game-left {
	width: 30%;
	float: left;
}


@media screen and (max-width: 850px) {
	.game-left {width: 100%;}
	.game-left img {min-height: 5em}
	.game-right {width: 100%;}
}