/* ---------- Game ---------- */
.game {
	width: 100%;

	/* For fade-in */
	opacity: 0%;
	transition: opacity var(--t2) ease;
  	transition-delay: var(--t5);
}
.game.fade-in {
	opacity: 100%;
}

.game-container {
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
}

.game-left {
	width: 30%;
	float: left;
}

.Walter-png, .Walter-gif {
	position: absolute;
  	image-rendering: pixelated;
	margin: auto;
	height: 100%;
	opacity: 100%;
}
.Walter-png.hide, .Walter-gif.hide {
	opacity: 0%;
}

.game-right {
	width: 70%; 
	float: right;
}


@media screen and (max-width: 850px) {
	.game-left {width: 100%; height: 5em;}
	.Walter-png, .Walter-gif {height: 5em; left: 50%;}
	.game-right {width: 100%;}

}