:root {
	--global1: #1c1c1c;
	--global2: #363636;
	--global3: #525252;
	--global4: #696969;
	--global5: #808080;
}

body {
  	background-color: var(--global1);
  	color: #F0F0F0;
}

/* ---------- Text Styling ---------- */
h1 {
	color: #000000;/*#FE7701;*/
	text-align: center;
	font-size: 48px;
	padding: 18px 0px 12px 0px;
}

h2 {
	color: #15cf00;
}

h3 {
	padding: 0.1em 0.5em;
}

.icons a {
	color: var(--global3);
}

/* ---------- Section Colouring --------- */
.nav {background: var(--global2);}
.nav-right a:hover, .nav a.nav-toggler:hover {background: var(--global3);}

.prof-container {background: var(--global5);}

.footer {background: var(--global1);}




