:root {
	--dark1: #1c1c1c;
	--dark2: #363636;
	--dark3: #525252;
	--dark4: #696969;
}

body {
  	background-color: var(--dark1);
}

/* ---------- Text Styling ---------- */
h1 {
	color: #000000;/*#FE7701;*/
	text-align: center;
	font-size: 48px;
	padding: 18px 0px 12px 0px;
}

h2 {
	color: #15cf00;
}

.icons a {
	color: var(--dark3);
}

/* ---------- Section Colouring --------- */
.nav {
	background: var(--dark2);
}
.nav-right a:hover, .nav a.nav-toggler:hover {
	background: var(--dark3);
}

.footer {
	background: var(--dark1)
}




