/* Used for styling global elements on the page */

:root {
	/* Colors */
	--global1: #1c1c1c;
	--global2: #363636;
	--global3: #525252;
	--global4: #696969;
	--global5: #808080;
	--global6: #999999;
	--bodycolor: #F0F0F0;
	--orange: #FE7701;
	--blue: #59acff;

	/* Transition times */
	--t1: 0.0s;
	--t2: 0.5s;
	--t3: 1.0s;
	--t4: 1.5s;
	--t5: 2.0s;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
  	background-color: var(--global1);
  	color: var(--bodycolor);
}

/* used to style section boxes */
.section {padding: 0em 7.5%;}

/* Used as a break between sections */
.break {
	border: 1px solid var(--global2);
	border-radius: 10px;
	width: auto;
	margin: 2em 10% 1em;
}

.break {
	/* For fade-in */
	opacity: 0%;
	transition: opacity var(--t2) ease;
  	transition-delay: var(--t5);
}
.break.fade-in {
	opacity: 100%;
}


/* Used as a break inside sections */
.inner-break {width: 100%; border: 1px solid var(--global2);}

/* Used to style dates */
.date {
	display: inline-block;
	margin-right: 0.6em;
	float: right;
	font-style: italic;
	color: var(--blue);
}

/* Used to make links swipe to a new colour */
.swipe-link {
	overflow: hidden;
	background: linear-gradient(to right, var(--orange) 50%, royalblue 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
  	background-position: 100%;
	text-decoration: none;
	transition: background-position 0.3s ease;
}
.swipe-link:hover {
	background-position: 0 100%;
}

@media screen and (max-width: 850px) {
	.section {padding: 0em 1em;}
	.break {margin: 2em 2em 1em;}
}

/* ---------- Text Styling ---------- */
h1 {
	color: #000000;/*#FE7701;*/
	text-align: center;
	font-size: 48px;
	padding: 2em 2em 0.5em;
}

h2 {
	color: var(--blue);
	padding: 0em 0.25em; 
}

h3 {
	color: var(--orange);
}

h4 {
	margin-top: 0.2em;
	color: var(--orange);
}

h5 {
	margin-top: 0.75em;
	color: var(--blue);
}

p {
	padding: 0.2em;
	margin: 0em 0.5em;
}

a {
	text-decoration: none;
}

.icons a {
	color: var(--global1);
}



