/* ---------- Icons ---------- */
.icons {
	text-align: center;
	font-size: 36px;
	padding: 18px 12px 18px; 
}

.icons a {
	 padding: 12px 3%;
}

.fa-facebook-square:hover {color: #352FE2}
.fa-linkedin:hover {color: #0077B5}
.fa-envelope-square:hover {color: #FE2727}
.fa-phone-square:hover {color: #3CFE27}
.fa-github-square:hover {color: #9933ff}