/* ---------- Navbar ---------- */
.nav {
	background: var(--global1);
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;							/* Keeps at top */
	z-index: 1;						/* Keeps over others */
	overflow: hidden;
	border-bottom: 1px solid var(--global2);

	/* For fade-in */
	opacity: 0%;
	transition: opacity var(--t2) ease;
  	transition-delay: var(--t2);
}
.nav.fade-in {
	opacity: 100%;
}

.nav-container {
	width: 100%;
}


/* Nav name and Collapse button */
.nav-back {
	width: 100%;
}
.nav-back button {
	background: rgba(0,0,0,0);
	margin: 0.5em;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: var(--orange);
}
.nav-toggler {
	display: none;
	width: auto;
	float: right;
}

/* Hide and show name on nav bar */
.nav-name-hide {opacity: 0; pointer-events: none;}
.nav-name-show {opacity: 1;	pointer-events: all; animation: name-show 0.5s;}
@keyframes name-show {from {opacity: 0;}	to {opacity: 1;}}

/* Hover background change*/
.nav-back a {
	overflow: hidden;
	background: linear-gradient(to right, #e31769 50%, var(--orange) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 0.4s ease;
}
.nav-back a:hover {
  	background-position: 0 100%;
}

.nav-front {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	max-height: 200px;
	pointer-events: none;		/* Makes name clickable */
}
.nav-front a {
	pointer-events: all;
	display: inline-block;
	text-decoration: none;
	padding: 0.6em 1%;
	font-size: 18px;
	color: var(--blue);
	transition: background 0.3s ease, color 0.3s ease;
}
.nav-front a:hover {
	background: var(--orange);
	color: var(--global1);
}

/* ---------- Small Screen Adjustments ---------- */
@media screen and (max-width: 850px) {
	.nav-toggler {display: initial; transition: color 300ms ease;}
	.nav-toggler:hover {color: #ff983d;}
	.nav-front {width: 100%; text-align: left; position: relative;}
	.nav-front a {width: 100%; padding-left: 2em;}
}















