/* ---------- Navbar ---------- */
.nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
.nav-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.nav-name-hide {
	/*animation: name-show 0.5s reverse;*/
	opacity: 0;
	/*pointer-events: none;*/
}
.nav-name-show {
	animation: name-show 0.5s;
	opacity: 1;
}
@keyframes name-show {
	from {opacity: 0;}
	to {opacity: 1;}
}

.nav-left {
	width: 100%;
}
.nav-right {
	width: 100%;
	height: 100%;
	position: absolute;
	clear: both;
	text-align: center;
	pointer-events:none;
}

.nav a {
	display: inline-block;
	padding: 12px 15px;
	text-decoration: none;
	font-size: 18px;
	color: #2151ff;
}
.nav a.nav-toggler {
	display: none;
}
.nav-left a {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #FE7701;
}

/* Hover background change*/
.nav-name-show a {
	overflow: hidden;
	background: linear-gradient(to right, #e31769 50%, #FE7701 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
}
.nav-left a:hover {
  	background-position: 0 100%;
}

.nav-right a {
	pointer-events: all;
}


/* ---------- Small Screen Adjustments ---------- */
@media screen and (max-width: 850px) {
	.nav a.nav-toggler {float: right; display: block;}
	.nav-left {width: 100%;}
	.nav-right {width: 100%; text-align: left; display: none; position: initial;}
	.nav-right.open {animation: nav-accordian 0.5s; display: block;}
	.nav-right.closed {animation: nav-accordian-rev 0.5s;}
	.nav-right a {width: 100%;}
	@keyframes nav-accordian {
		from {height: 0;}
		to {height: 200px;}
	}
}















