.parallax {
  /* The image used */
  /*background-image: url("img_parallax.jpg");*/
  background: linear-gradient(151deg, #e67e00 0%, #e31769 30%, #0000c9 65%);

  /* Set a specific height */
  min-height: 100px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}