.parallax {
  /* The image used */
  /*background-image: url("img_parallax.jpg");*/
  background: linear-gradient(151deg, var(--orange) 0%, #e31769 25%, var(--blue) 65%);

  /* Set a specific height */
  min-height: 50px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0%;

  /* For fade-in */
  transition: opacity 2s ease;
  transition-delay: var(--t1);
}
.parallax.fade-in {
  opacity: 100%;
}