/* ---------- Personal Profile ---------- */
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.prof {
	width: 100%;
}

.prof-container {
	position: relative;
	margin: 0.3em 0em;
	padding: 0.5em;
	border-radius: 10px;
	overflow: hidden;
}

.prof-left {
	width: 60%;
	float: left;
}
.prof-right {
	background: var(--global3);
	width: 40%;
	float: right;
	border-radius: 10px;
	max-width: 20em;
}
.prof-right button {
	padding-top: 0.3em;
	background: rgba(0, 0, 0, 0);
	pointer-events: none;
}

.skill-left {
	width: auto;
}
.skill-right {
	padding-right: 0.5em;
	display: none;
}

.accordian-panel {
	max-height: 500px;
}

.skill {
	background: var(--global2);
	margin: 0.2em 0.5em;
	width: auto;
	border-radius: 15px;
	overflow: hidden;
}
.skill-name {
	margin-left: 0.7em;
	margin-bottom: 0.2em;
	width: 35%;
	float: left;
	text-align: left;
}
.skill-bar {
	margin-top: 0.225em;
	margin-right: 0.3em;
	max-height: 1.2em;
	float: right;
	width: 50%;
	background: #ababab;
}
.skill-fill {
	background: #FE7701;
	max-height: 1.2em;
	width: 100%;
	height: 100%;
	transition: width 500ms ease-in;
}
.skill-fill:hover, .skill-fill:focus, .skill-fill:active {
	width: 15%;
}
.skill-bar, .skill-fill-area, .skill-fill {
	border-radius: 15px;
	height: 20px;
}
.skill-fill-area#Python {
	width: 90%;
}
.skill-fill-area#Java {
	width: 85%;
}
.skill-fill-area#C {
	width: 80%;
}
.skill-fill-area#HTMLCSS {
	width: 60%;
}
.skill-fill-area#SQL {
	width: 50%;
}


/* ---------- Small Screen Adjustments ---------- */
@media screen and (max-width: 850px) {
	.prof-left {width: 100%;}
	.prof-right {width: 100%; max-width: 100%;}
	.prof-right button {pointer-events: all;}
	.accordian-panel {max-height: 0px;}
	/*.skill-left {width: 80%; float: left;}*/
	.skill-right {display: static}
	/*.skill-right {width: 20%; float: right; text-align: right; display: static}*/
}

