/* ---------- Personal Profile ---------- */
.prof {
	width: 100%;
	height: 500px;
}

.prof-container {
	position: relative;
	margin: 10px 0px;
	padding: 5px;
	border-radius: 10px;
	background: #808080;
}

.prof-left {
	width: 60%;
	float: left;
}
.prof-right {
	width: 40%;
	float: right;
}

.skill {
	/*display: block;*/
	background: #FFFFFF;
	margin: 3px;
	width: 100%;
	height: 21px;
	border-radius: 10px;
}
.skill-name {
	width: 35%;
	float: left;
	text-align: left;
	padding-left: 10px;
}

.skill-back {
	float: right;
	width: 50%;
	float: right;
	margin-top: 3px;
	margin-right: 3px;
	background: #ababab;
}
.skill-back, .skill-fill-area, .skill-fill {
	border-radius: 10px;
	height: 15px;
}
.skill-fill-area#Python {
	width: 90%;
}
.skill-fill-area#C {
	width: 80%;
}
.skill-fill {
	background: #FE7701;
	width: 100%;
	transition: width 500ms ease-in;
}
.skill-fill:hover, .skill-fill:focus, .skill-fill:active {
	width: 10%;
}