/* ---------- Personal Profile ---------- */

.prof {
	width: 100%;
}

.prof-container {
	position: relative;
	margin: 0.5em 0em;
	border-radius: 10px;
	overflow: hidden;
}

/* Profile Write-Up Area */
.prof-left {
	width: 60%;
	float: left;
	margin-bottom: 1em;
}

/* Coding Skills Area */
.prof-right {
	background: var(--global2);
	width: 40%;
	float: right;
	border-radius: 10px;
	max-width: 20em;
}
/* Top Button for Accordian */
.prof-right button {
	padding-top: 0.3em;
	background: rgba(0, 0, 0, 0);
	pointer-events: none;
}
.prof-right h3 {
	padding-left: 0.25em;
}
.prof-right i#tog-skill {
	display: none;
}

.skill-left {
	width: auto;
}
.accordian-panel {
	max-height: 500px;
}

.skill {
	background: var(--global3);
	margin: 0.5em 0.5em;
	width: auto;
	border-radius: 15px;
	overflow: hidden;
}
.skill-name {
	margin-left: 0.7em;
	margin-bottom: 0.1em;
	padding-top: 0.1em;
	width: auto;
	float: left;
	text-align: left;
	font-family: Courier;
}
.skill-bar {
	margin-top: 0.225em;
	margin-right: 0.3em;
	max-height: 1.2em;
	float: right;
	width: 60%;
	background: var(--global6);
	border: 10px solid var(--gloabl1);
}
.skill-fill {
	background: var(--orange);
	max-height: 1.2em;
	width: 100%;
	height: 100%;
	transition: width 300ms ease-out;
}
.skill-fill:hover, .skill-fill:focus, .skill-fill:active {
	width: 15%;
}
.skill-bar, .skill-fill-area, .skill-fill {
	border-radius: 15px;
	height: 20px;
}
.skill-fill-area#Python {
	width: 90%;
}
.skill-fill-area#Java {
	width: 85%;
}
.skill-fill-area#C {
	width: 80%;
}
.skill-fill-area#HTMLCSS {
	width: 60%;
}
.skill-fill-area#SQL {
	width: 50%;
}


/* ---------- Small Screen Adjustments ---------- */
@media screen and (max-width: 850px) {
	.prof-left {width: 100%;}
	.prof-right {width: 100%; max-width: 100%;}
	.prof-right button {pointer-events: all;}
	.accordian-panel {max-height: 0px;}
	.prof-right i#tog-skill {display: inline-block; float: right; margin: 0.05em 0.5em;}
}

