/* ---------- Volunteering ---------- */
.vol {
	width: 100%;
}

.vol-container {
	margin: 0em 1em;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.vol-col .inner-break {
	width: 85%;
	margin-bottom: 0.5em;
}

.vol-col p {margin: 0;}

.vol-col ul {padding-left: 1.3em;}
.vol-col li {padding-right: 1em;}

.vol-col-seperator {display: none;}

.vol-role {
	color: var(--blue);
	font-style: italic;
}


@media screen and (max-width: 850px) {
	.vol-container {grid-template-columns: auto;}
	.vol-col-seperator {display: initial; margin-bottom: 1em;}
}