/* ---------- Volunteering ---------- */
.vol {
	width: 100%;
}

.vol-container {
	margin: 0em 1em;
	display: grid;
	grid-template-columns: auto auto auto;
}

.vol-col .inner-break {
	width: 85%;
	margin-bottom: 0.5em;
}

.vol-col p {
	margin: 0; 
}

.vol-role {
	color: var(--blue);
	font-style: italic;
}


@media screen and (max-width: 850px) {
	.vol-container {grid-template-columns: auto;}
	.vol-col {margin-bottom: 1.5em;}
}