/* ---------- Work Experience ---------- */
.work {
	width: 100%;
}

.work-container {
	background: var(--global4);
	position: relative;
	margin: 0.3em 0em;
	padding: 0.5em;
	border-radius: 10px;
	overflow: hidden;
}