/* ---------- Work Experience ---------- */
.work {
	width: 100%;
}

.work-container {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.work-experience {
	min-height: 450px;
	display: flex;
	margin-bottom: 1em;
	/*transition: min-height 0.5s ease;*/
}
.work-experience > div.work-tab {
	background-color: var(--global2);
	width: 30%;
	overflow: hidden;
	border-radius: 10px 0px 0px 10px;
	border: 1px solid var(--global3);
	border-right: none;
}

/* Style the buttons inside the tab */
.work-tab button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background-color: var(--global2);
	padding: 0.75em 0em 0.75em 0.7em;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: var(--bodycolor);
	border: none;
	transition: 0.3s;
}

/* Create an active/current tablink class */
/* Change background color of buttons on hover */
.work-tab button:hover, button.selected {
	background-color: var(--global3);
	color: var(--orange);
}

/* Style the tab content */
.work-experience > div.work-tabcontent {
	float: right;
	display: none; 
	padding: 6px 12px;
	width: 70%;
	border: 1px solid var(--global3);
	border-left: none;
	border-radius: 0px 10px 10px 0px;
}

/* Have the overview tab displayed initially */
.work-tabcontent#Overview {
	display: inline-block;
}

/* Word Details */
.work-tabcontent p {margin-bottom: 1em;}
.work-tabcontent li {margin-right: 1em;}
.work-name {display: block;	color: var(--orange); font-weight: bold; margin-top: 0.7em;}
.work-position {color: var(--blue); margin-left: 0.6em;}

/* References */
.work-ref {
	margin-top: 0.5em;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid var(--global3);
}

.work-ref-button {
	background: rgba(0,0,0,0);
	display: block;
	margin: 0.3em 0.3em 0em;
	border: none;
	width: 100%;
	text-align: left;
	pointer-events: none;
}
.work-ref-button i {
	display: none;
}

/* Container with the reference columns */
.work-ref-container {
	display: grid;
	grid-template-columns: auto auto auto;
   	transition: max-height 0.4s ease-out;
}
/* Reference column */
.work-ref-col {
	position: relative;
	margin: 0em 0.4em 0.4em;
	border: 2px solid var(--global3);
	border-radius: 10px;
	overflow: hidden;
}

/* Style reference content */
.work-ref-content{
	margin: 2em 2em 6em;
	text-align: center;
	font-style: italic;
	/*font-family: "Bookman Old Style";
	font-size: 18px;*/
}
/* Add quotes before and after reference content */
.work-ref-content:before {content: '" ';}
.work-ref-content:after {content: ' "';}

/* Area with refernce name and company */
.work-ref-person {
	background: var(--global3);
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0.1em 0.75em;
}
/* Style reference person text */
.work-ref-person p {text-align: right;}
.work-ref-company {font-style: italic;}


@media screen and (max-width: 850px) {
	/* Work Tabs */
	.work-tab button { text-align: center; font-size: 16px; border-bottom: 1px solid var(--global2);}
	.work-experience {min-height: auto; flex-direction: column;}
	.work-experience > div.work-tab {
		width: 100%;
		min-height: auto;
		border: 1px solid var(--global3);
		border-radius: 10px 10px 0px 0px;
		border-bottom: none;
	}
	.work-experience > div.work-tabcontent {
		width: 100%; 
		min-height: 300px; 
		border: 1px solid var(--global3);
		border-radius: 0px 0px 10px 10px;
		border-top: none;
	}

	/* References */
	.work-ref-button {pointer-events: all;}
	.work-ref-button i {display: inline-block; float: right; margin: 0.1em 0.5em;}
	.work-ref-container {grid-template-columns: auto; max-height: 0px;}
	.work-ref-content {margin: 1em 1em 5em;}

	
}








