/* ---------- Work Experience ---------- */
.work {
	width: 100%;
}

.work-container {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.work-tab {
	width: 100%;
	overflow: hidden;
	background-color: var(--global2);
	border-radius: 10px 10px 0px 0px;
	border: 1px solid var(--global3);
	border-bottom: none;
}

/* Style the buttons inside the tab */
.work-tab button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background-color: var(--global2);
	padding: 0.5em;
	width: 25%;
	float: left;
	font-size: auto;
	font-weight: bold;
	color: var(--bodycolor);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

/* Create an active/current tablink class */
/* Change background color of buttons on hover */
.work-tab button:hover, button.selected {
	background-color: var(--global3);
	color: var(--global1);
}

/* Style the tab content */
.work-tabcontent {
	border: 1px solid var(--global3);
	border-top: none;
	display: none;
	padding: 6px 12px;
	border-radius: 0px 0px 10px 10px;	
}

/* Have the overview tab displayed initially */
.work-tabcontent#Overview {
	display: block;
}

.work-ref {
	margin-top: 0.5em;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid var(--global3);
}

.work-ref-button {
	background: rgba(0,0,0,0);
	display: block;
	margin: 0.3em 0.3em 0em;
	border: none;
	width: 100%;
	text-align: left;
	pointer-events: none;
}
.work-ref-button i {
	display: none;
}

.work-ref-container {
	display: grid;
	grid-template-columns: auto auto auto;
   	transition: max-height 0.4s ease-out;
}

.work-ref-col {
	margin: 0em 0.4em 0.4em;
	display: inline-block;
	border: 2px solid var(--global3);
	border-radius: 10px;
	overflow: hidden;
}

/* Style reference content */
.work-ref-content{
	margin: 0.7em;
	font-style: italic;
	text-align: center;
	/*font-family: "Bookman Old Style";*/
}
/* Add quotes before and after reference content */
.work-ref-content:before, .work-ref-content:after {
	content: '"';
}
.work-ref-person {
	background: var(--global3);
	width: 100%;
	padding: 0.1em 1em;
}
.work-ref-person p {
	text-align: right;
}


@media screen and (max-width: 850px) {
	.work-tab button {width: 100%; border-bottom: 1px solid var(--global2)}
	.work-ref-button {pointer-events: all;}
	.work-ref-button i {display: inline-block; float: right; margin: 0.2em 0.5em;}
	.work-ref-container {grid-template-columns: auto; max-height: 0px;}
}








