<pipe-background class="fixed"></pipe-background>

<div class="max-w-[100%] overflow-hidden absolute">
  <banner></banner>

  <experience id="experience"></experience>

  <education id="education"></education>

  <projects id="projects"></projects>

  <contact id="contact"></contact>

  <div class="flex justify-center">
    <div
      class="mt-24 mb-12 p-4 bg-ablue bg-opacity-25 border-[3px] border-ablue border-opacity-80 rounded-2xl hover:shadow-ablue transition-all duration-300 relative overflow-hidden"
    >
      <p class="small-text text-sm text-ablue">
        © 2024 Jasper Stahmer. All rights reserved.
      </p>
      <div class="blue-background"></div>
    </div>
  </div>
</div>
