<router-outlet></router-outlet>

<button
  class="nav-button"
  [style.background-position]="showNav ? '100% 100%' : ''"
  (click)="showNav = !showNav"
>
  <div
    class="line"
    [style]="
      showNav ? 'transform: translate(-50%, -50%) rotate(225deg)' : 'top: 35%'
    "
  ></div>
  <div class="line" [style]="showNav ? 'opacity: 0;' : 'opacity: 1'"></div>
  <div
    class="line"
    [style]="
      showNav ? 'transform: translate(-50%, -50%) rotate(315deg)' : 'top: 65%'
    "
  ></div>
</button>

<div class="nav-container" [style.left]="showNav ? '0' : '-100%'">
  <div class="nav">
    <span class="title">Jasper Stahmer</span>

    <div class="sections">
      <span class="label">Work Experience</span>
      <span class="label">Work Experience</span>
    </div>

    <span class="footer"></span>
  </div>
</div>
<div class="nav-background" [style.opacity]="showNav ? '1' : '0'"></div>

<div class="content">
  <welcome></welcome>

  <div style="min-height: 100vh">
    <experience style="padding: 32px; min-height: 100vh"></experience>
  </div>

  <div style="min-height: 100vh">
    <education style="padding: 32px"></education>
  </div>
</div>
