// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$asteroiddown-primary: mat.define-palette(mat.$indigo-palette);
$asteroiddown-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$asteroiddown-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$asteroiddown-theme: mat.define-light-theme(
  (
    color: (
      primary: $asteroiddown-primary,
      accent: $asteroiddown-accent,
      warn: $asteroiddown-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($asteroiddown-theme);

/* You can add global styles to this file, and also import other style files */
body {
  color: white;
  background-color: rgb(var(--gray));
}

html,
body {
  height: 100%;

  // background: linear-gradient(
  //   150deg,
  //   rgb(var(--purple)),
  //   rgb(var(--dark-blue)) 100%
  // );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-container {
  position: relative;
  min-height: 128px;
  margin-bottom: 24px;

  .title {
    z-index: 2;
    top: 50%;
    position: absolute;

    font-size: 36px;
    line-height: 48px;
    font-weight: 500;

    transform: translateY(-50%);

    margin-left: 48px;
    margin-bottom: 32px;

    transition: all 350ms ease;

    @media screen and (max-width: 600px) {
      margin-left: 24px;
    }
  }
}

.title-container:hover {
  .title {
    text-shadow: 0px 0px 0.5rem white;
  }
}

.sub-title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;

  @media screen and (max-width: 600px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;

  @media screen and (max-width: 600px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.small-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 20px;
  }
}

:root {
  --white: 255, 255, 255;
  // --orange: 254, 137, 1;
  --orange: 255, 100, 0;
  --blue: 115, 185, 255;
  --dark-blue: 17, 48, 138;
  --purple: 49, 8, 99;
  --gray: 23, 22, 22;
}
